
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header,
footer {
    background-color: #a5a2a2;
    color: rgb(36, 36, 36);
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f0f8ff;
    
}

article {
    background-color: #ffffff;
}