
/* Estilos para el Contenedor Exterior (PADRE) */
.contenedor-padre {
    width: 700px; /* Ancho fijo para el contenedor padre */
    background-color: #f3f3f4; /* Fondo gris claro */
    padding: 30px;
    
}

/* Estilos para el Contenedor Interior (HIJO) */
.contenedor-hijo {
    width: 60%; /* Ocupa el 80% del ancho de su padre (.contenedor-padre) */
    background-color: #ece9e9; /* Fondo blanco para el hijo */
    padding: 10px;
    margin: 20px auto; /* Centra el hijo horizontalmente dentro del padre, y le da márgenes verticales */
    
    /* Centra el TEXTO dentro de este contenedor hijo */
    text-align: justify; 
    line-height: 1.6;
    color: #555;
}

.contenedor-hijo h4 {
    margin-top: 0;
    color: #181717;
}