
.contenedor-padre {
    display: flex;
    width: 700px; 
    background-color: #f3f3f4; 
    padding: 30px;
    margin: 30px;
    
}

.contenedor-hijo {
    display: flex;
    flex-direction: column;
    width: 60%; 
    background-color: #ece9e9; 
    padding: 10px;
    margin: 30px auto; 
    text-align: justify; 
    color: #0a0a0a;
}

.contenedor-hijo h4 {
    margin-top: 0;
    color: #181717;
}